.DS_Store
.vscode
*.gram
/librime-lua
/assets/gendict/target
/deploy/generator
/schemas/hao/build
/schemas/hao/installation.yaml
/schemas/hao/default.custom.yaml
/schemas/hao/hao_sy.custom.yaml
/schemas/hao/user.yaml
/schemas/hao/sync
/schemas/hao/hao.smart
/schemas/hao/*.userdb
/schemas/hao/*.userdb.bak
/schemas/hao/dicts/*.userdb
/schemas/hao/haoxi.txt
/schemas/hao/squirrel.yaml
/schemas/hao/weasel.yaml
/schemas/hao/weasel.custom.yaml
/schemas/releases
